@use "./utils/mixins";
@use "./utils/colors";


.explorer {
    text-align: center;
    margin: 2rem;

    & h2 {
        font-size: 1.5rem;
        margin: 1rem;
    }

    & p {
        font-size: 1rem;
    }

    & button {
        @include mixins.setting-btn;
        font-size: 1rem;
    }
}

.spin-loader {
    $spin-load: 1.5s;
    position: fixed;
    display: grid;
    place-items: center;
    background-color: #FFFFFF;
    height: 100vh;
    inset: 0;
    z-index: 1;
    opacity: 0.8;
    animation: closed 1s $spin-load forwards;
    transform-origin: top;

    &::after {
        content: "Food";
        font-weight: 900;
        height: 250px;
        width: 250px;
        border-right: 5px solid transparent;
        border-top: 5px solid colors.$purple;
        border-radius: 50%;
        animation: loading 2s ease-in-out;
    }
}

@keyframes closed {
    to {
        transform: scale(0);
    }
}

@keyframes loading {
    to {
        transform: rotate(360deg);
    }
}