@use "./utils/mixins";
@use "./utils/variables";
@use "./utils/colors";

.liste {
    counter-reset: number-list;
    margin-bottom: 2rem;
    & ol {
        display: flex;
        gap: 2rem;

        @media (max-width: 1000px) {
            flex-direction: column;
        }
    }

    & li {
        position: relative;
        display: flex;
        align-items: center;
        &::before {
            content: counter(number-list);
            counter-increment: number-list;
            color: white;
            background-color: colors.$purple;
            width: 2 * variables.$height-base-liste;
            height: 2 * variables.$height-base-liste;
            display: grid;
            place-items: center;
            border-radius: 50%;
            position: absolute;
            bottom: 50%;
            left: -1 * variables.$height-base-liste;
            transform: translateY(+50%);
        }
        list-style-type: none;
        background-color: #F6F6F6;
        padding: 1.5rem 2rem;
        flex-grow: 1;
        border-radius: 1rem;
        @include mixins.base-shadow;

        &:hover {
            @include mixins.zoom;
            background-color: lighten(colors.$purple, 33%);
            i::before {
                color: colors.$purple;
            }
        }
        & i.fas {
            margin-right: 1rem;
            color: colors.$lightgrey;
            font-size: 1.5rem;
        }
    }
}